/* ====================== *STYLEGLOBAL: 공통 STYLE ====================== */
/* 
*프로젝트 전반에 걸쳐 일관된 색상과 효과를 사용하기 위한 CSS 입니다
* 수정 시 전체 사이트에 영향을 미치므로 신중하게 변경해주세요! */

/* 폰트 설정 */
/* SC Dream 폰트 4종 가중치 설정 (Regular, Medium, Bold, ExtraBold) - 로컬과 CDN 경로 모두 지정 */
@font-face {
    font-family: 'SCDream';
    src: url('../fonts/SCDream4.otf') format('opentype'),
        url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'SCDream';
    src: url('../fonts/SCDream5.otf') format('opentype'),
        url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'SCDream';
    src: url('../fonts/SCDream6.otf') format('opentype'),
        url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'SCDream';
    src: url('../fonts/SCDream7.otf') format('opentype'),
        url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: 800; /* ExtraBold */
    font-style: normal;
}

/* 기본 폰트 설정 */
body {
    font-family: 'SCDream', sans-serif;
    font-weight: 400; /* 기본은 Regular */
    line-height: 1.6;
    box-sizing: border-box;
}

/* 반응형 폰트 사이즈 설정
 * 기본 폰트 사이즈를 62.5%로 설정하여 1rem = 10px 기준으로 만듦 */
html {
    font-size: 62.5%; /* 1rem = 10px (1920px 이상) */
    box-sizing: border-box;
}

/* 색상 변수 정의 */
/* 프로젝트 전체에서 사용할 CSS 변수 - 색상 일관성 유지를 위함 */
:root {
    --bs-black: #000000;
    --bs-white: #ffffff;
    --bs-blue: #286fff; /* 주요 메인색상 */
    --bs-blue2: #7dbee4; /* 서브 블루 */
    --bs-blue-light: #dee9ff; /* 연한 파란색 */
    --bs-gray: #e9e9e9; /* 기본 회색 */
    --bs-gray2: #d9d9d9; /*  진한 회색 */
    --bs-gray-light: #f0eff4; /* 연한 회색 */
    --bs-puple-light: #e2deff; /* 연한 보라색 */
    --bg-gray: #f9fafb; /* 배경 회색 */
    --menu-blue: #4e88ff; /* 메뉴 활성화 색상 */
}

/* 컨테이너 기본 설정 - 최대 너비 1240px, 중앙 정렬 */
.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

/* 기본 버튼 스타일 - 둥근 모서리, 흰색 텍스트 */
.button-default {
    display: inline-block;
    border-radius: 10px;
    padding: 14px 0;
    color: #fff;
    transition: all 0.3s ease;
}

.button-default:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* 호버 시 더 큰 그림자 */
    transform: translateY(-3px); /* 위로 3px 떠오름 */
}

/* 텍스트 색상 클래스 */
.blue {
    color: var(--bs-blue);
}

.blue2 {
    color: var(--bs-blue2);
}

main {
    padding-top: 115px;
}

/* ====================== 헤더 HEADER ====================== */
.header {
    position: fixed;
    background: var(--bs-white);
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

/* 헤더 내부 요소 정렬 */
.header .inner {
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 185px;
}

/* 로고 영역 너비 */
.header .logo {
    width: 160px;
}

.header .logo a {
    width: 100%;
}

.header .logo img {
    width: 100%;
}

/* GNB 영역 */
.header .gnb ul {
    display: flex;
    gap: 100px;
}

.header .gnb a {
    font-size: 2.4rem;
}

/* 메뉴 활성화 상태 스타일 */
.header .gnb a.on {
    color: var(--menu-blue);
}

/* 호버시 색상 변경 */
.header .gnb a:hover {
    color: var(--menu-blue);
}

/* pc에서는 모바일 햄버거 버튼과 gnb 안보이게 처리 */
.header .ham_gnb {
    display: none;
}

.header .ham_btn {
    display: none;
}

/* ====================== 푸터 FOOTER ====================== */
.footer {
    position: relative;
    padding: 130px 0;
    background: var(--bs-gray);
}
/* 회사명 */
.footer .company_name {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.footer .company_name strong {
    font-weight: 500;
}

.footer span {
    display: inline-block;
    font-size: 2.2rem;
    margin-right: 50px;
    margin-bottom: 14px;
}

.footer span.company_address {
    display: block;
    margin: 0;
}

/* ====================== 배너 BANNER ====================== */
.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 695px; /* 전체 화면 높이 */
}

/* 배너 이미지 스타일*/
.banner img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* 비율 유지하며 양옆 잘리고 가운데 정렬 */
/* .banner img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
} */

/* 배너 텍스트 그룹 - 가운데 정렬 */
.banner .text_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 20px;
    color: #000;
    width: 100%;
    z-index: 2; /* 이미지 위로 */
}

/* 제목 */
.banner .title {
    font-size: 6rem;
    font-weight: 700;
}

/* 부제목 */
.banner .sub_title {
    font-size: 4.6rem;
    font-weight: 400;
    margin-top: 45px;
}

/* 다운로드 버튼 스타일 */
.banner .btn_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 75px;
}

.banner .btn_wrap a {
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 2.2rem;
    font-weight: 700;
}

/* ======================  배너 BANNER ====================== */
.floating {
    position: sticky;
    bottom: 0;
    left: 0;
    padding: 40px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 8;
    background: #fff;
}

.floating .f_container {
    width: 90%;
    max-width: 1110px;
    margin: 0 auto;
}

.floating h3 {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.floating .input_wrap {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 15px;
}

.floating .input_list {
    width: 80%;
    max-width: 870px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.floating .item {
    width: calc(50% - 5px);
    padding: 10px 15px;
    border: 1px solid var(--bs-blue);
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
    font-weight: 400 !important;
}

.floating input.item:focus {
    outline: none;
}

.floating input.item::placeholder {
    color: #999;
}

.floating select.item {
    -webkit-appearance: none; /* iOS Safari */
    -moz-appearance: none;
    appearance: none;

    color: #999;
    background-color: #fff;

    text-align: center;
    text-align-last: center; /* 핵심! */
    text-indent: 1px; /* 사파리 버그 방지용 */
}

/* 유저가 뭔가 선택했을 때는 검정색으로 */
.floating select.item.active {
    color: #333 !important;
}

.floating select.s_custom {
    background-image: url('/images/select_btn.png'); /* 이미지 경로 */
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 24px auto;
}

.floating button.click_btn {
    height: auto;
    width: 20%;
    max-width: 187px;
    font-size: 2.8rem;
    line-height: 140%;
    background: var(--bs-blue);
    border-radius: 10px;
    color: var(--bs-white);
    border: none;
    height: 100%;
    font-weight: 700;
}

.floating .checkbox_wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.floating .checkbox_wrap input {
    appearance: auto; /* 기본 스타일로 복구 */
    -webkit-appearance: auto;
    -moz-appearance: auto;
}

.floating .checkbox_wrap label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.6rem;
    width: 50%;
    font-weight: 400 !important;
}

/* 화면 너비에 따른 폰트 크기 조정 - 브레이크 포인트별 비율 조정 */
@media (max-width: 1919px) {
    html {
        font-size: 58%; /* 9.28px */
    }
}

@media (max-width: 1680px) {
    html {
        font-size: 55%; /* 8.8px */
    }
}

@media (max-width: 1440px) {
    html {
        font-size: 52.5%; /* 8.4px */
    }
}

@media (max-width: 1280px) {
    html {
        font-size: 50%; /* 8px */
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 48%; /* 7.68px */
    }
}

@media (max-width: 768px) {
    html {
        font-size: 46%; /* 7.36px */
    }
}

@media (max-width: 480px) {
    html {
        font-size: 44%; /* 7.04px */
    }
}
