/* ====================== 메인 페이지   ====================== */
/* *STYLEPAGE: main - 메인 */
/* hiro 영역 */
.main .hiro {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.main .hiro video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.main .hiro .hiro_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.main .hiro h2 {
    font-family: 'GmarketSans', sans-serif;
    font-size: 88px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 120px;
    background: linear-gradient(135deg, var(--bs-blue) 0%, #5b86c2 50%, var(--bs-blue) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: 5px 10px;
}

.main .hiro span {
    font-family: 'TmonMonsori', sans-serif;
    font-size: 26px;
    font-weight: 500;
    color: var(--bs-blue);
    background: linear-gradient(135deg, var(--bs-blue) 0%, #5b86c2 50%, var(--bs-blue) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: 5px 10px;
}

/* text section 영역 */
.main .text_section {
    padding: 185px 0;
    text-align: center;
}

.main .text_section h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 60px;
}

.main .text_section h4 {
    font-size: 30px;
    font-weight: 500;
    color: var(--bs-blue);
}

/* 영업카드 영역 & 시스템 카드 영역 */
.main .common_card {
    padding: 180px 0;
    text-align: center;
    background: var(--bs-bg-gray);
}

.main .common_card h3 {
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 700;
}

.main .common_card h3 span {
    color: var(--bs-blue);
}

.main .common_card h4 {
    margin-bottom: 100px;
    font-size: 20px;
    font-weight: 400;
}

.main .common_card .card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.main .common_card .item {
    width: 314px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 20px 30px;
    background: var(--bs-white);
    border-radius: 20px;
}

.main .common_card .box {
    width: 100%;
    height: 170px;
    margin-bottom: 36px;
    background: linear-gradient(#e1e3ff, #7a83ff);
}

.main .common_card .box img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.main .common_card h5 {
    margin-bottom: 26px;
    font-size: 30px;
    font-weight: 600;
    color: var(--bs-blue);
}

.main .common_card p {
    font-size: 18px;
}

/* point 영역 */
.main .point {
    width: 100%;
    height: calc(100vh - 60px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .point_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url(/images/fixed_bg.jpg);
    background-size: cover;
    background-position: center;
}

.main .point .point_box {
    position: relative;
    text-align: center;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.main .point h2 {
    font-family: 'GmarketSans', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    margin-bottom: 80px;
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
}

.main .point .ani_text {
    perspective: 1000px;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* transform-style: preserve-3d; */
}

.main .point p {
    font-family: 'GmarketSans', sans-serif;
    position: absolute;
    top: 50%;
    width: fit-content;
    font-size: 46px;
    font-weight: 600;
    line-height: 1.3;
    color: rgba(227, 227, 227, 0.4);
    text-align: center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    margin: 0;
    transition: color 0.3s ease;
    width: 920px;
    padding: 20px 0;
    border: 2px solid rgba(227, 227, 227, 0.4);
    border-radius: 20px;
}

/* 포커스 상태 */
.main .point p.focus {
    color: #fff;
    border-color: #fff;
    /* border: 2px solid #fff;
    border-radius: 20px; */
}

/* 시스템 영역 */
.main .system .box img {
    width: 60%;
}

.sub_page {
    padding-top: 60px;
}

/* ====================== FC 모집 페이지   ====================== */
/* *STYLEPAGE: fc_recruit - FC 모집 */
/* 공통 */
.fc_recruit {
}
.fc_recruit .container {
    padding: 120px 0;
}
.fc_recruit .fc_title {
    font-size: 50px;
    font-weight: 900;
    font-family: 'TmonMonsori', sans-serif;
}

/* 배너 영역 */
.fc_recruit .fc_banner {
    position: relative;
    width: 100%;
    height: 600px;
}
.fc_recruit .fc_banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fc_recruit .fc_banner h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-weight: 700;
    color: var(--bs-white);
}

/* 텍스트 섹션 + 로고 영역(fm에셋은?) */
.fc_recruit .fc_text .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.fc_recruit .fc_text .left {
}
.fc_recruit .fc_text .right {
}
.fc_recruit .fc_text h3 {
    color: var(--bs-blue);
    margin-bottom: 48px;
}
.fc_recruit .fc_text p {
    font-size: 30px;
}
.fc_recruit .fc_text img {
    width: 280px;
}

/* 영업기법 영역 */
.fc_recruit .technic {
    background: var(--bs-bg-gray);
    text-align: center;
}
.fc_recruit .technic .t_title {
}
.fc_recruit .technic .t_title p {
    color: var(--bs-dark-blue);
    background: var(--bs-white);
    font-size: 26px;
    display: inline-block;
    padding: 10px 16px;
    border-radius: 100px;
    margin-bottom: 34px;
}
.fc_recruit .technic .t_title h3 {
    margin-bottom: 80px;
}
.fc_recruit .technic .content {
}
.fc_recruit .technic .content .top {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-bottom: 80px;
}
.fc_recruit .technic .content .left {
    text-align: left;
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.fc_recruit .technic .content .left p {
    font-size: 26px;
    background: var(--bs-white);
    padding: 10px 20px;
    border-radius: 10px;
}
.fc_recruit .technic .content .left span {
    color: var(--bs-dark-blue);
    font-weight: 600;
}
.fc_recruit .technic .content .mid {
}
.fc_recruit .technic .content .mid img {
    width: 20px;
}
.fc_recruit .technic .content .right {
    height: 200px;
}
.fc_recruit .technic .content .right p {
    font-size: 34px;
    font-weight: 600;
    color: var(--bs-dark-blue);
    background: var(--bs-white);
    padding: 0 75px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.fc_recruit .technic .bottom {
    font-size: 26px;
    color: #000612;
}

/* 실적 집중 영역 */
.fc_recruit .focus {
    text-align: center;
}
.fc_recruit .focus .fc_title {
    margin-bottom: 70px;
}
.fc_recruit .focus ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.fc_recruit .focus li {
    width: 480px;
    height: 292px;
    border-radius: 20px;
    position: relative;
}
.fc_recruit .focus img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fc_recruit .focus .text_wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 0 25px;
    width: 100%;
    background: var(--bs-dark-blue);
    opacity: 0.4;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.fc_recruit .focus .text_wrap p {
    position: relative;
    color: var(--bs-white);
    opacity: 1;
    z-index: 2;
    font-size: 20px;
    font-weight: 700;
}
.fc_recruit .focus .text_wrap strong {
    position: relative;
    display: block;
    opacity: 2;
    font-size: 24px;
    font-weight: 800;
}

/* 직원 후기 영역 */
.fc_recruit .stories {
    text-align: center;
    background: var(--bs-bg-gray);
}
.fc_recruit .stories .container {
    width: 1000px;
}
.fc_recruit .stories .card_wrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 105px;
}
.fc_recruit .stories .card {
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bs-white);
    border-radius: 15px;
}
.fc_recruit .stories .left {
    width: 40%;
}
.fc_recruit .stories .right {
    width: 58%;
    text-align: center;
}
.fc_recruit .stories img {
    max-height: 300px;
    width: auto;
    object-fit: cover;
}
.fc_recruit .stories h4.title {
    display: inline-block;
    min-width: 340px;
    font-size: 26px;
    font-weight: 600;
    background: var(--bs-dark-blue);
    color: var(--bs-white);
    padding: 10px 16px;
    border-bottom: 10px;
    margin-bottom: 30px;
    border-radius: 100px;
}
.fc_recruit .stories h5.text {
    font-size: 22px;
    font-weight: 400;
}
.fc_recruit .stories .fc_title {
    font-family: 'PAPERLOGY', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-weight: 800;
}
.fc_recruit .stories .fc_title span {
    color: var(--bs-dark-blue);
}

/* ====================== 지점장 모집 페이지   ====================== */
/* *STYLEPAGE: branch_recruit - 지점장 모집 */
/* 배너, 텍스트 섹션 제외한 나머지 섹션 공통*/
.branch_recruit .container {
    padding: 180px 0;
}

.branch_recruit .branch_title {
    font-weight: 800;
    font-size: 46px;
    text-align: center;
}

/* 배너 영역 */
.branch_recruit .br_banner {
    width: 100%;
    display: block;
    background: url('../images/branch_banner.png') no-repeat center center;
    text-align: center;
    padding: 110px 0;
    position: relative;
}

.branch_recruit .br_banner::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #0554c1;
    opacity: 0.4;
    z-index: 1;
}

.branch_recruit .br_banner .ment {
    position: relative;
    z-index: 2;
}

.branch_recruit .br_banner h2 {
    color: #fff;
    font-weight: 800;
    font-size: 48px;
}

.branch_recruit .br_banner h3 {
    color: #fff;
    font-size: 34px;
    font-weight: 600;
    margin-top: 30px;
}

/* 지점장 모집 텍스트 영역 */
.branch_recruit .jisa {
    background: var(--bs-white);
    padding: 0;
}

.branch_recruit .jisa .container {
    padding: 130px 0;
}

.branch_recruit .jisa .sub_title {
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
}

/* 지점장 파트너쉽 영역 */
.branch_recruit .partnership {
    background: #eef1f5;
}

.branch_recruit .partnership .box_wrap {
    display: flex;
    align-items: normal;
    justify-content: space-between;
    flex-wrap: wrap;
}

.branch_recruit .partnership .box_wrap .box {
    display: block;
    width: 48%;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
    margin-top: 45px;
    border-radius: 15px;
}

.branch_recruit .partnership .box_wrap .box h3 {
    color: #0554c1;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    padding: 10px 0;
}

.branch_recruit .partnership .box_wrap .box h4 {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.branch_recruit .partnership .box_wrap .box .top {
    position: relative;
}

.branch_recruit .partnership .box_wrap .box .top .back_line {
    width: 100%;
    border-radius: 15px;
    position: absolute;
    padding: 60px 0;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.branch_recruit .back_line1 {
    background: #f6e2eb;
}

.branch_recruit .back_line2 {
    background: #e7e2f6;
}

.branch_recruit .back_line3 {
    background: #faf6df;
}

.branch_recruit .back_line4 {
    background: #e2f0ee;
}

.branch_recruit .partnership .box_wrap .box .top img {
    margin: 0 auto;
    display: block;
    height: 180px;
    position: relative;
    z-index: 2;
}

/* 지사장 인터뷰 영역 */
.branch_recruit .interview {
}

.branch_recruit .interview .box_wrap {
    width: 100%;
    display: flex;
    align-items: normal;
    justify-content: space-between;
    margin-top: 30px;
}

.branch_recruit .interview .box_wrap .box {
    width: 32%;
    display: block;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 3px 6px #999;
}

.branch_recruit .interview .box_wrap .box img {
    display: block;
    width: 100%;
}

.branch_recruit .interview .box_wrap .box h3 {
    color: #0554c1;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
}

.branch_recruit .interview .box_wrap .box p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
}

/* 지사 개설 지원 */
.branch_recruit .help {
    background: #eef1f5;
}

.branch_recruit .help .box_wrap .box {
    display: flex;
    align-items: normal;
    justify-content: normal;
    width: 100%;
    margin-top: 25px;
    border: 1px solid #bfccdd;
    border-radius: 15px;
    background: #fff;
}

.branch_recruit .help .box_wrap .box1 .lb {
    padding: 15px;
    box-sizing: border-box;
    border-right: 10px solid #f0f3d4;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.branch_recruit .help .box_wrap .box2 .lb {
    padding: 15px;
    box-sizing: border-box;
    border-right: 10px solid #f4e2eb;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.branch_recruit .help .box_wrap .box3 .lb {
    padding: 15px;
    box-sizing: border-box;
    border-right: 10px solid #e5eef6;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.branch_recruit .help .box_wrap .box .lb img {
    width: 100px;
    height: 120px;
    display: block;
}

.branch_recruit .help .box_wrap .box .rb {
    display: flex;
    align-items: normal;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    box-sizing: border-box;
    gap: 10px;
}

.branch_recruit .help .box_wrap .box .rb h3 {
    color: #0554c1;
    font-weight: 500;
    font-size: 28px;
}

.branch_recruit .help .box_wrap .box .rb p {
    color: #333;
    font-weight: 500;
    font-size: 22px;
}

/* ====================== 센터장 모집 페이지   ====================== */
/* *STYLEPAGE: center_recruit - 센터장 모집 */
/* 공통 */
.center_recruit {
    text-align: center;
}
.center_recruit .container {
    padding: 180px 0;
}
.center_recruit .c_title_large {
    font-size: 40px;
    font-weight: 700;
    font-family: 'GmarketSans', sans-serif;
}
.center_recruit .c_title_small {
    font-size: 40px;
    font-weight: 700;
    font-family: 'GmarketSans', sans-serif;
}
.center_recruit .c_sub_title {
    font-size: 26px;
}

/* 배너 영역 */
.center_recruit .c_banner {
    position: relative;
    width: 100%;
    height: 450px;
}
.center_recruit .c_banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bs-dark-blue);
    opacity: 0.4;
}
.center_recruit .c_banner .container {
}
.center_recruit .c_banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.center_recruit .c_banner .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.center_recruit .c_banner h2 {
    font-size: 50px;
    font-weight: 800;
    color: var(--bs-white);
    margin-bottom: 60px;
}
.center_recruit .c_banner p {
    font-size: 30px;
    font-weight: 600;
    color: var(--bs-white);
}

/* 하는 일 영역 */
.center_recruit .job {
}
.center_recruit .job h3 {
    margin-bottom: 16px;
}
.center_recruit .job span {
    color: var(--bs-dark-blue);
}
.center_recruit .job .c_sub_title {
    margin-bottom: 64px;
}
.center_recruit .job .box_wrap {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.center_recruit .job .item {
    width: 500px;
    border-radius: 20px;
    padding: 40px 26px;
    background: var(--bs-bg-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.center_recruit .job .left {
    width: 38%;
    max-width: 168px;
}
.center_recruit .job .left img {
    width: 100%;
}
.center_recruit .job .right {
    width: 55%;
}
.center_recruit .job .right h4 {
    font-size: 24px;
    padding: 5px 10px;
    border-radius: 100px;
    background: var(--bs-blue);
    color: var(--bs-white);
    margin-bottom: 24px;
}
.center_recruit .job .right p {
    font-size: 20px;
    margin-bottom: 0;
}

/* 텍스트 영역 */
.center_recruit .center_text {
    background: var(--bs-bg-gray);
}
.center_recruit .center_text .container {
}
.center_recruit .center_text h3 {
    font-size: 40px;
    font-weight: 500;
}
.center_recruit .center_text span {
    color: var(--bs-blue);
}

/* 청구센터 차별점 영역 */
.center_recruit .different {
}
.center_recruit .different .container {
}
.center_recruit .different .title {
}
.center_recruit .different h3 {
    margin-bottom: 16px;
    color: var(--bs-blue);
}
.center_recruit .different p {
    margin-bottom: 62px;
}
.center_recruit .different .icon_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 95px;
    margin-bottom: 72px;
}
.center_recruit .different .item {
    width: 198px;
    height: 198px;
    border-radius: 100%;
    background: #faf6df;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center_recruit .different img {
    max-width: 135px;
}
.center_recruit .different h4 {
    font-weight: 400;
}

/* 비전 영역 */

.center_recruit .vision {
    background: var(--bs-bg-gray);
}

.center_recruit .vision .container {
}
.center_recruit .vision .title {
}
.center_recruit .vision h3 {
    margin-bottom: 16px;
    color: var(--bs-blue);
}
.center_recruit .vision p {
    margin-bottom: 88px;
}
.center_recruit .vision .count {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 100px;
    border-radius: 100px;
    background: var(--bs-white);
    border: 4px solid #adc1dc;
    margin-bottom: 76px;
}
.center_recruit .vision h4 {
    font-size: 28px;
    font-weight: 500;
}
.center_recruit .vision h4.target {
    color: var(--bs-sky-blue);
    font-weight: 600;
}
.center_recruit .vision img {
    width: 28px;
}
.center_recruit .vision .graph {
    width: 1000px;
    margin: 0 auto;
}
.center_recruit .vision .item {
}
.center_recruit .vision h5 {
}
.center_recruit .vision .stick {
}
.center_recruit .vision h6 {
}

/* 센터 개설 지원 영역 */
.center_recruit .backup {
}
.center_recruit .backup .container {
}
.center_recruit .backup h3 {
    margin-bottom: 80px;
}
.center_recruit .backup ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.center_recruit .backup li {
    width: 314px;
    height: 460px;
    background: #eaf1f9;
    border-radius: 20px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.center_recruit .backup .box {
    width: 230px;
    height: 230px;
    border-radius: 100%;
    background: var(--bs-white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.center_recruit .backup img {
    max-width: 124px;
}
.center_recruit .backup h4 {
    font-size: 24px;
    font-weight: 600;
    color: var(--bs-blue);
}
.center_recruit .backup p {
    font-size: 18px;
}

/* 센터장 인터뷰 영역 */
.center_recruit .interview {
    background: var(--bs-bg-gray);
}
.center_recruit .interview .container {
}
.center_recruit .interview h3 {
    ,bottom: 85px;
}
.center_recruit .interview ul {
}
.center_recruit .interview li {
}
.center_recruit .interview img {
}
.center_recruit .interview p {
}

/* ====================== 반응형 스타일 ====================== */

/* *STYLEMEDIA: 데스크톱 중간 크기 (1440px 이하) */
@media (max-width: 1440px) {
}
